{% extends 'base.html'%}

{% block title%} Duka - Sales {% endblock %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 mt-4 "> {% include '/includes/sidenav.html' %} </div>
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="/admin/sales" method="POST">
                    <div class=" form-floating mb-3">
                        <input type="text" required class=" form-control" name="pid">
                        <label for=""> PID </label>
                    </div>

                    <div class=" form-floating mb-3">
                        <input type="text" required class=" form-control" name="quantity">
                        <label for=""> Quantity </label>
                    </div>

                    <div class=" form-floating mb-3">
                        <input type="text" required class=" form-control" name="created_at">
                        <label for=""> Created At </label>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>

            </div>

            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">

            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">PID</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Created at</th>
                        <th>View sale</th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in saledata %}
                    <tr>
                        <td>{{i[3]}}</td>
                        <td>{{i[0]}}</td>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                        <td> <a href="admin/sales/{{ i[0] }}"> View Sale </a> </td>


                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
</div>

{% endblock %}